$error: #f5222d;
$success: #52c41a;
$primary: #1890ff;
$warning: #faad14;
$gap: 10px;


.main {
  display: flex;
  min-height: 100vh;

  .left {
    transition: all 0.3s;
    width: 256px;
    background: #478EDE;
    flex: 0 0 auto;
    z-index: 1;
    &.collapsed {
      width: 80px;
    }

    .top {
      height: 64px;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .right {
    width: 100%;
    flex: 1 1 auto;

    .top {
      height: 64px;
      background: #478EDE;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      padding: $gap;
      display: flex;
      align-items: center;

      .spacer {
        width: 100%;
      }
    }

    .hh {
      height: 2px;
      background: #f0f2f5;
    }

    .breadcrumb {
      height: 38px;
      background: #fff;
      padding: 0 2 * $gap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-breadcrumb {
        font-size: 12px;
      }

      .spacer {
        margin: 0 $gap;
      }
    }

    .content {
      padding: $gap * 2;
      background-color: #f0f2f5;
      min-height: calc(100% - 64px - 40px);
    }
  }
}
